<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class = "nav-link">Home</a>
          <!-- TODO: For 'Home', Add a <a> tag with class="nav-link" and href='/' API that navigates to home page if logged in, or login page if not -->
        </li>
        <li class="nav-item">
            Sports Data
          <!-- TODO: For 'Sports Data', Add a <a> tag with class="nav-link" and href='/courses' API that navigates to courses page if logged in, or login page if not -->
        </li>
        <li class="nav-item">
            Stocks
          <!-- TODO: For 'Sports Stocks', Add a <a> tag with class="nav-link" and href='/logout' API that navigates to the logout page -->
        </li>
        <li class="nav-item">
            Marketplace
          <!-- TODO: For 'Marketplace', Add a <a> tag with class="nav-link" and href='/logout' API that navigates to the logout page -->
        </li>
        <li class="nav-item">
            Store
          <!-- TODO: For 'Store', Add a <a> tag with class="nav-link" and href='/logout' API that navigates to the logout page -->
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">
                {{username}}
              </a>
          </li>
          <li class = "nav-item">
            <a href="/logout" class = "nav-link">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
</header>